<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
	bootstrap="tests/include/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="WordPress--GitHub Sync Test Suite">
			<directory prefix="test-" suffix=".php">tests/unit/</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<exclude>
			<directory suffix=".php">/tmp/wordpress*</directory>
			<directory suffix=".php">./vendor/</directory>
			<directory suffix=".php">./tests/</directory>
		</exclude>
	</coverage>
	<logging>
		<log type="tap" target="build/report.tap"/>
		<log type="junit" target="build/report.junit.xml"/>
		<log type="coverage-html" target="build/coverage" charset="UTF-8" yui="true" highlight="true"/>
		<log type="coverage-text" target="build/coverage.txt"/>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
</phpunit>
